modules = ["python-3.11", "python3", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "postgresql", "postgresql_16", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "-c", "gunicorn_config.py", "main:app"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn -c gunicorn_config.py main:app"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[agent]
integrations = ["python_openai:1.0.0", "dropbox:1.0.0", "python_openai_ai_integrations:1.0.0"]

[userenv]

[userenv.shared]
TZ = "Africa/Cairo"
PS365_RECEIPT_DESC_MAX = "30"
PS365_CHEQUE_PAYMENT_TYPE_CODE = "CHEQ"
PS365_RECEIPT_COMMENTS_MAX = "255"
SMTP_HOST = "mail.eplattforma.com.cy"
SMTP_PORT = "465"
SMTP_EMAIL = "purchase.orders@eplattforma.com.cy"
